* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.list {
    width: 80%;
    max-width: 900px;
    /* min-height: 600px; */
    border: solid 2px black;
    margin: 50px auto;
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 18px;
}

.list-header {
    background-color: #000;
    color: #fff;
    margin-bottom: 32px;
    padding: 24px 12px;
    text-align: center;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

.list-form {
    display: flex;
    flex-direction: row;
    margin-inline: auto;
    width: 100%;
    column-gap: 12px;
    justify-content: center;
    padding-inline: 50px;
}

.task-input {
    display: block;
    padding: 7px;
    max-width: 700px;
    width: 100%;
}

.task-input:focus {
    outline: none;
}

.list-form-btn:hover {
    cursor: pointer;
}

.list-form-btn {
    width: 34px;
    align-self: flex-end;
}

.list-section {
    margin-block: 50px;
    padding-inline: 15px;
}

.list-section h2 {
    position: relative;
    width: fit-content;
    margin-bottom: 12px;
}

.list-section h2::after {
    position: absolute;
    display: block;
    content: "";
    width: calc(100% + 10px);
    background-color: #000;
    height: 1px;
    bottom: -7px;
}

.to-dos-list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    list-style-type: none;
}

.to-dos-list li {
    display: flex;
    flex-direction: row;
    column-gap: 7px;
    border: solid 2px #000;
    border-radius: 18px;
    padding: 18px;
}

.list-item-text {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
}

.btns-container {
    display: flex;
    flex-direction: row;
    column-gap: 22px;
    margin-left: auto;
}

#complete,
#edit,
#delete {
    width: 16px;
    height: 16px,
}

#complete:hover,
#edit:hover,
#delete:hover {
    cursor: pointer;
}

.completed {
    background-color: #a0f7a0;
}

.completed p:after {
    position: absolute;
    content: "";
    display: block;
    background-color: #000;
    height: 2px;
    width: 100%;
    top: 50%;
}

@media (min-width: 768px) {
    .list-section {
        padding-inline: 50px;
    }

    .list-item-text {
        font-size: 22px;
    }
}